<select
  {{on "change" this.change}}
  ...attributes>
  {{#if @placeholder}}
    <option value="" selected disabled>
      {{@placeholder}}
    </option>
  {{/if}}

  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if this.hasDetailedOptions}}
      {{#each @options as | optionValue |}}
        <option
          value={{get optionValue this.valueKey}}
          selected={{is-equal (get optionValue this.valueKey) @value}}>
          {{get optionValue this.displayKey}}
        </option>
      {{/each}}
    {{else}}
      {{#each @options as | optionValue |}}
        <option value={{optionValue}} selected={{is-equal optionValue @value}}>
          {{optionValue}}
        </option>
      {{/each}}
    {{/if}}
  {{/if}}
</select>
