{{#if placeholder}}
  <option value="" selected disabled>
    {{placeholder}}
  </option>
{{/if}}

{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if isDeepOptions}}
    {{#each options as | opt |}}
      <option value={{get opt valueKey}} selected={{is-equal (get opt valueKey) value}}>
        {{get opt displayKey}}
      </option>
    {{/each}}
  {{else}}
    {{#each options as | opt |}}
      <option value={{opt}} selected={{is-equal opt value}}>
        {{opt}}
      </option>
    {{/each}}
  {{/if}}
{{/if}}
