{{#if placeholder}}
  <option value="" selected disabled>
    {{placeholder}}
  </option>
{{/if}}

{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if isDeepOptions}}
    {{#each options as | optionValue |}}
      <option
        value={{get optionValue valueKey}}
        selected={{is-equal (get optionValue valueKey) value}}
      >
        {{get optionValue displayKey}}
      </option>
    {{/each}}
  {{else}}
    {{#each options as | optionValue |}}
      <option value={{optionValue}} selected={{is-equal optionValue value}}>
        {{optionValue}}
      </option>
    {{/each}}
  {{/if}}
{{/if}}
