{{#if placeholder}}
  <option value="" selected>
    {{placeholder}}
  </option>
{{/if}}

{{#if hasBlock}}
  {{yield}}
{{/if}}

{{#each options as | option |}}
  <option value={{option}} selected={{eq option value}}>
    {{option}}
  </option>
{{/each}}
